.topic{
    background-color: aquamarine;
    text-align: center;
}
.block1{
    background-color: brown;
}
.block2{
    background-color: chartreuse;
}
.inline1{
    background-color: rgb(34, 34, 167);
}
.block2{
    background-color: aqua;
    
    
    
}
.span{
    text-align: center;
}
